.carousel-img-1 {
    background: url('../images/hero_image.jpeg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.carousel-img-2 {
    background: url('../images/hike-1.jpeg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.carousel-img-3 {
    background: url('../images/hike-2.jpeg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
