@import "node_modules/bootstrap/scss/bootstrap";
@import "_base.scss";
@import "_layout.scss";


.latest-article {
    margin-top: 25px;
}
.btn-link {
    color: white !important;
}
#about {
    margin-top: 25px; 
}
.input-group {
    width: 25%;
}
.borderless{
    border: 0 none;
}
.text-black{
    color: black;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #4E5D6C !important;
}